@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .overflow-x-auto {
    -webkit-overflow-scrolling: touch;
  }

  .draggable-scroll {
    cursor: grab;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .draggable-scroll::-webkit-scrollbar {
    display: none;
  }

  .draggable-scroll.dragging {
    cursor: grabbing;
    user-select: none;
  }

  .snap-center {
    scroll-snap-align: center;
  }
}
